<title>About | Grocer Store</title>
<h1 class="pageTitle">About Us</h1>
<div class="container">
	<div id="aboutContainer">
		<img src="/assets/about2.jpeg" id="aboutImg" alt="aboutUs" class="image">
		<div class="aboutOverlay">
			<div class="aboutTxt">
			  <p id="hide">We are an internet-based, convenience-focussed on-line grocery provider designed to take the hassle out of getting the everyday items you depend on.<br /></p>
			  <p id="hide2">Sign-up today to take the hassle out of getting everyday goods and start saving time and money.</p>
			  <p id="show">Start saving time and money today!</p>
			  <%= link_to "Register Today",  new_user_registration_path, class:"btn btn-lg btnRed", id:"regBtn" %>
			</div>
		</div>
	</div>
</div>
