<title>Delivery | Grocer Store</title>
<h1 class="pageTitle">Delivery</h1>
<div class="container">
	<div class="row text-center">
		<div class="col-lg-2"></div>
		<div class="col-lg-8 shadow">
			<h4>If you're within the green area below, you're in luck! We can delivery in your area</h4>
			<br/>
			<div id="map"></div>
		</div>
		<div class="col-lg-2"></div>
	</div>
</div>
<script>
      function initMap() {
    	var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: {lat: 53.331238, lng: -6.441930},
        });

        var perimeter = [
          {lat: 53.629530, lng: -6.213964},
          {lat: 53.581454, lng: -6.403327},
          {lat: 53.543934, lng: -6.594215},
          {lat: 53.427901, lng: -6.699958},
          {lat: 53.312370, lng: -6.719184},
          {lat: 53.229422, lng: -6.717811},
          {lat: 53.187476, lng: -6.661506},
          {lat: 53.203108, lng: -6.465125},
          {lat: 53.248325, lng: -6.318183},
          {lat: 53.195704, lng: -6.187721},
          {lat: 53.189944, lng: -6.091590},
          {lat: 53.257363, lng: -6.112190},
          {lat: 53.271327, lng: -6.090217},
          {lat: 53.296778, lng: -6.131416},
          {lat: 53.325496, lng: -6.206947},
          {lat: 53.361570, lng: -6.209693},
          {lat: 53.383692, lng: -6.103950},
          {lat: 53.360751, lng: -6.080604},
          {lat: 53.385330, lng: -6.039405},
          {lat: 53.398433, lng: -6.113563},
          {lat: 53.460618, lng: -6.121803},
          {lat: 53.539038, lng: -6.080604},
          {lat: 53.597757, lng: -6.158882},
          {lat: 53.629530, lng: -6.213964}
        ];

        // From Google Tutorials
        var deliveryArea = new google.maps.Polygon({
          paths: perimeter,
          strokeColor: 'green',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: 'green',
          fillOpacity: 0.35
        });
        deliveryArea.setMap(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5B-vTF69lislScoObg9c5i0bicBcHGIE&callback=initMap">
    </script>