.cart {
	width: 95%;
	border-collapse:collapse;
	margin-left: 15px;
	text-align: center;

}

.cart table, tr, td {
	border:1px solid black;
}

.cart img {
	border: 0px;
}

p,
p .btn {
	margin: 10px;
}
	

