<title>New Product | Grocer Store</title>
<div class="container shadow">
	<title>New Product| Grocery Store</title>
		<h1>New Product Listing</h1>
		<%= render 'form', product: @product %>
		<%= link_to 'Back', products_path, class:"btn btnRed" %>
</div>
